.logindetails {
  width: 100%;
  height: 750px;
  background: #848384;
  padding-top: 100px;
  margin-bottom: 100px;
}

.logincontainer {
  width: 580px;
  height: auto;
  background: white;
  margin: auto;
  padding: 40px 60px;
  margin-top: -50px;
  transition: background 0.3s, color 0.3s;
}

.logincontainer h1 {
  margin: 20px 0px;
  transition: color 0.3s;
}

.loginfields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.loginfields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.loginfields button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.signup {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.signupbutton {
  outline: none;
  border: 0;
  background-color: white;
  box-shadow: none;
  color: red;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.pass {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #5c5c5c;
  transition: color 0.3s;
}

.error {
  color: red;
  font-size: 14px;
}

body .dark-mode.logindetails {
  background: #2c2c2c;
  
}

body .dark-mode .logincontainer {
  background: #333;
  color: white;
}

body .dark-mode .logincontainer h1 {
  color: white;
}

body .dark-mode .loginfields input {
  background: #444;
  color: white;
  border: 1px solid #555;
}

body .dark-mode .loginfields button {
  background: #ff4141;
}

body .dark-mode .signup {
  color: white;
}

body .dark-mode .eye-icon {
  color: white;
}

body .dark-mode .signupbutton {
  background-color: #333;
  color: #ff4141;
}

body .dark-mode .error {
  color: #ff4141;
}
