.productdisplay{
    display: flex;
    margin: 0px 170px;
    margin-top: 30px;
}
.productdisplay-left{
    display: flex;
    gap:17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.productdisplay-img-list img{
    height: 113px;
}
.product-display-img {
width: 586px;
height: 800px;
}
.product-display-img img{
    height: 500px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap:30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-rightsize h1{
margin-top: 55px;
color: #656565;
font-size: 20px;
font-weight: 600;
}
.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap:20px;
}
.productdisplay-right-size div{
    padding: 18px 24px;
    background: white;
    border:1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: #ede8e8;
}
body .dark-mode .size p{
    
    color: rgb(18, 17, 17); /* Adjust text color to be visible in dark mode */
  }
.productdisplay-right-size div:hover{
    background-color: #aaaaaa;
}
body .dark-mode .productdisplay-right h1{
    color: white    ;
}
.initalcart{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.cartincrement {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-top: 10px;
    
  }
  
  .cartitem {
    background-color: #28a745; 
    color: white; 
    border: 1px solid #28a745; 
    padding: 8px 16px;
    cursor: pointer; 
    font-size: 14px; 
    border-radius: 4px; 
    transition: background-color 0.3s, border 0.3s; 

  }
  body .dark-mode .cartincrement span{
    color: white;
  }
  
  .cartitem:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
  }
  
  .cartitem:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
  }
  
  .cartitem:disabled {
    background-color: #cccccc; 
    border-color: #cccccc; 
    cursor: not-allowed; 
  }
  
  .cartincrement span {
    font-size: 16px; 
    color: #333; 
    font-weight: bold; 
  }
  